<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/menu.css">
    
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
        </ul>
    </nav>
    <h1>Welcome to our Home Page</h1>
    <p>This is the home page of our website. Feel free to explore and learn more about us.</p>
</body>
</html>
