<!DOCTYPE html>
<html>
<head>
    <title>Our Products</title>
    <link rel="stylesheet" type="text/css" href="/menu.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
        </ul>
    </nav>
    <h1>Our Products</h1>
    <ul>
        <li><a href="#">Product 1</a></li>
        <li><a href="#">Product 2</a></li>
        <li><a href="#">Product 3</a></li>
        <li><a href="#">Product 4</a></li>
    </ul>
</body>
</html>
