<!DOCTYPE html>
<html>
<head>
    <title>Subscribe</title>
    <link rel="stylesheet" type="text/css" href="/menu.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribes</a></li>
        </ul>
    </nav>
    <h1>Subscribe to Our Newsletter</h1>
    <p>Subscribe to our newsletter to stay updated on our latest products and offers. Don't miss out!</p>
    <form>
        <input type="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    </form>
</body>
</html>
